.container{
    max-width: 800px;
    margin: auto;
}

#newTask {
    height: 35px;
    width: 80%;
}

button {
    height: 30px;
    background-color: gray;
    color: white;
    font-size: 0.8rem;
    border: none;
}

ul {
    background-color: rgb(210, 207, 248);
    border-radius: 5px;
}

li {
    background-color: rgb(240, 240, 239);
    color: rgb(33, 30, 30);
    border-radius: 5px;
    height: 23px;
}

#incluir{
    background-color: cornflowerblue;
    font-size: 1.2rem;
}